# Ignore Python bytecode files
__pycache__/
*.pyc
*/__pycache__/ 

*/.DS_Store 



TODO.md
data/camelyon16_features/* 



env/ 

backup/
all_datas 

data/test.py
utils/train_bk.py
src/test.py 
src/test_camil.py 

data/logs/* 
!data/logs/.gitkeep
data/weights/*
!data/logs/.gitkeep

src/camil_bk.py
src/camil_bk2.py 

.codegpt